# Užduotis 1

Sukurti programą, kuri:
* `[OK]` Sukurtų duomenų bazę (atmintyje)
* `[OK]` Sukurtų lentelę `paskaitos` su stulpeliais `pavadinimas`, `destytojas` ir `trukme`
* `[OK]` Sukurtų tris paskaitas: `('Vadyba', 'Domantas', 40), ('Python', 'Donatas', 80) ir ('Java', 'Tomas', 80)`
* `[OK]` Atspausdintų tik tas paskaitas, kurių trukmė didesnė už 50
* `[OK]` Atnaujintų paskaitos „Python“ pavadinimą į „Python programavimas“
* `[OK]` Ištrintų paskaitą, kurios dėstytojas – „Tomas“
* `[OK]` Atspausdintų visas paskaitas (visą lentelę)

In [1]:
import sqlite3
# conn = sqlite3.connect(":memory:")
conn = sqlite3.connect("my_file.db") # pvz.: ... error: table already created
# print(conn) # OK

---

In [2]:
query_CREATE = """
CREATE TABLE paskaitos(
  pavadinimas text
, destytojas text
, trukme int
)
"""

In [3]:
c = conn.cursor()
with conn:
    c.execute(query_CREATE)

OperationalError: table paskaitos already exists

In [4]:
query_CREATE_QC = "SELECT * FROM paskaitos"

with conn:
    c.execute(query_CREATE_QC)
    print(c.fetchall())

[('Vadyba', 'Domantas', 40), ('Python', 'Donatas', 80), ('Java', 'Tomas', 80)]

---

In [9]:
## INSERT DATA  ## MANY LINES
with conn:
    c.execute("INSERT INTO paskaitos VALUES ('Vadyba', 'Domantas', 40)")
    c.execute("INSERT INTO paskaitos VALUES ('Python', 'Donatas', 80)")
    c.execute("INSERT INTO paskaitos VALUES ('Java', 'Tomas', 80)")

In [9]:
query_INSERT_QC = "SELECT * FROM paskaitos"

with conn:
    c.execute(query_INSERT_QC)
    print(c.fetchall())

[('Vadyba', 'Domantas', 40), ('Python', 'Donatas', 80), ('Java', 'Tomas', 80), ('Vadyba', 'Domantas', 400), ('Python', 'Donatas', 180), ('Vadyba', 'Domantas', 400), ('Python', 'Donatas', 180)]

In [8]:
## INSERT DATA  ## VIENAS KVIETIMAS, DAUG EILUČIŲ
with conn:
    c.execute("""
    -- KUR?
    INSERT INTO
        paskaitos

    -- KĄ?
    VALUES
        ('Vadyba', 'Domantas', 400)
    ,	('Python', 'Donatas', 180)
    ,	('Java', 'Tomas', 820)
    """)

---

### Baigia: Inžinierius: struktūra paruošta, duomenys jau yra; pradeda analitikai

In [12]:
# Atspausdinti kiekį įrašų, kuriuos grąžins pilna užklausa
with conn:
    c.execute(
        """
        SELECT COUNT(*) AS 'COUNTER'
        FROM paskaitos
        WHERE trukme > 50
        """
    )
    print(c.fetchall())

[(6,)]

In [13]:
# Atspausdintų tik tas paskaitas, kurių trukmė didesnė už 50
with conn:
    c.execute("SELECT * FROM paskaitos WHERE trukme > 50")
    print(c.fetchall())

[('Python', 'Donatas', 80), ('Java', 'Tomas', 80), ('Vadyba', 'Domantas', 400), ('Python', 'Donatas', 180), ('Vadyba', 'Domantas', 400), ('Python', 'Donatas', 180)]

---

In [14]:
# * Atnaujintų paskaitos „Python“ pavadinimą į „Python programavimas“
q_update_PY8 = """
UPDATE paskaitos
SET pavadinimas = "LSD_PP_G4_7"
WHERE pavadinimas = "Python"
"""

with conn:
    c.execute(q_update_PY8)

In [20]:
with conn:
#     c.execute("SELECT COUNT(*) FROM paskaitos")
    c.execute("SELECT * FROM paskaitos LIMIT 10")
#     c.execute("SELECT TOP 10 * FROM paskaitos") # alternatyva
#     print(c.fetchall()) # visos eilutes
#     print(c.fetchone()) # viena eilute
#    x = c.fetchall()
    x1 = c.fetchone() # viena eilute

In [18]:
with conn:
    c.execute("SELECT * FROM paskaitos")
    while 1:
        row = c.fetchone()
        if row is None:
            print("Ouch")
            break
        # process row

Ouch

In [23]:
print(x1[0])

Vadyba

---

In [29]:
# Ištrintų paskaitą, kurios dėstytojas – „Tomas“
delete_teacher = """
DELETE FROM paskaitos
WHERE destytojas = 'Domantas'
"""

## "\nDELETE FROM paskaitos\nWHERE destytojas = 'Domantas'\n"

print(delete_teacher)

DELETE FROM paskaitos
WHERE destytojas = 'Domantas'

In [30]:
with conn:
    c.execute(delete_teacher)

In [31]:
with conn:
    c.execute("SELECT * FROM paskaitos LIMIT 10")
    print(c.fetchall())

[('LSD_PP_G4_7', 'Donatas', 80), ('Java', 'Tomas', 80), ('LSD_PP_G4_7', 'Donatas', 180), ('LSD_PP_G4_7', 'Donatas', 180)]

---

# JŪSŲ PRAKTIKA :)
KAS NORI PASIPRAKTIKUOTI ?