# Vertybės

* Dosnumas
* Meilė
* Išmintis

In [7]:
from Paskaitos_class import *

In [8]:
import sqlite3

# conn = sqlite3.connect(":memory:")
conn = sqlite3.connect("my_file.db")
c = conn.cursor()

In [9]:
# QC:
with conn:
    try:
        c.execute("SELECT COUNT(*) FROM paskaitos")
        
        paskaitu_kiekis = c.fetchall() # [(6,)]
#         print(paskaitu_kiekis)

        if paskaitu_kiekis != None: # #> 0:
            print('yra lentelė')

            if len(paskaitu_kiekis) > 0:
                print('yra duomenys')

                if type(paskaitu_kiekis[0]) == tuple:
                    print('paskaitų yra bent viena')

                    if paskaitu_kiekis[0][0] > 0:
                        print(f'paskaitų yra {paskaitu_kiekis[0][0]}')
                    
    except:
        print("kažkas ne taip")

yra lentelė
yra duomenys
paskaitų yra bent viena
paskaitų yra 5

# Klasė `Paskaitos`

In [10]:
nauja_paskaita = Paskaitos("Python Pradedantiesiems", "AU", 40)
nauja_paskaita_2 = Paskaitos("Python Advanced", "AU", 80)
nauja_paskaita_3 = Paskaitos("Python Expert", "??", 999)

In [11]:
nauja_paskaita.spausdink_paskaitos_info()
nauja_paskaita_2.spausdink_paskaitos_info()
nauja_paskaita_3.spausdink_paskaitos_info()

Python Pradedantiesiems, 40
Python Advanced, 80
Python Expert, 999

In [14]:
nauja_paskaita.sukurk_paskaitos()

AttributeError: __enter__

In [12]:
nauja_paskaita.sukurk_paskaitos(conn)
nauja_paskaita_2.sukurk_paskaitos(conn)

TypeError: sukurk_paskaitos() takes 1 positional argument but 2 were given

In [ ]:
nauja_paskaita_3.irasyk_paskaita()

---

In [ ]:
query_CREATE = """
CREATE TABLE paskaitos(
  pavadinimas text
, destytojas text
, trukme int
)
"""

In [ ]:
c = conn.cursor()
with conn:
    c.execute(query_CREATE)

In [ ]:
query_CREATE_QC = "SELECT * FROM paskaitos"

with conn:
    c.execute(query_CREATE_QC)
    print(c.fetchall())

---

In [ ]:
## INSERT DATA  ## MANY LINES
with conn:
    c.execute("INSERT INTO paskaitos VALUES ('Vadyba', 'Domantas', 40)")
    c.execute("INSERT INTO paskaitos VALUES ('Python', 'Donatas', 80)")
    c.execute("INSERT INTO paskaitos VALUES ('Java', 'Tomas', 80)")

In [ ]:
query_INSERT_QC = "SELECT * FROM paskaitos"

with conn:
    c.execute(query_INSERT_QC)
    print(c.fetchall())

In [ ]:
## INSERT DATA  ## VIENAS KVIETIMAS, DAUG EILUČIŲ
with conn:
    c.execute("""
    -- KUR?
    INSERT INTO
        paskaitos

    -- KĄ?
    VALUES
        ('Vadyba', 'Domantas', 400)
    ,	('Python', 'Donatas', 180)
    ,	('Java', 'Tomas', 820)
    """)

---

### Baigia: Inžinierius: struktūra paruošta, duomenys jau yra; pradeda analitikai

In [ ]:
# Atspausdinti kiekį įrašų, kuriuos grąžins pilna užklausa
with conn:
    c.execute(
        """
        SELECT COUNT(*) AS 'COUNTER'
        FROM paskaitos
        WHERE trukme > 50
        """
    )
    print(c.fetchall())

In [ ]:
# Atspausdintų tik tas paskaitas, kurių trukmė didesnė už 50
with conn:
    c.execute("SELECT * FROM paskaitos WHERE trukme > 50")
    print(c.fetchall())

---

In [ ]:
# * Atnaujintų paskaitos „Python“ pavadinimą į „Python programavimas“
q_update_PY8 = """
UPDATE paskaitos
SET pavadinimas = "LSD_PP_G4_7"
WHERE pavadinimas = "Python"
"""

with conn:
    c.execute(q_update_PY8)

In [ ]:
with conn:
#     c.execute("SELECT COUNT(*) FROM paskaitos")
    c.execute("SELECT * FROM paskaitos LIMIT 10")
#     c.execute("SELECT TOP 10 * FROM paskaitos") # alternatyva
#     print(c.fetchall()) # visos eilutes
#     print(c.fetchone()) # viena eilute
#    x = c.fetchall()
    x1 = c.fetchone() # viena eilute

In [ ]:
with conn:
    c.execute("SELECT * FROM paskaitos")
    while 1:
        row = c.fetchone()
        if row is None:
            print("Ouch")
            break
        # process row

In [ ]:
print(x1[0])

---

In [ ]:
# Ištrintų paskaitą, kurios dėstytojas – „Tomas“
delete_teacher = """
DELETE FROM paskaitos
WHERE destytojas = 'Domantas'
"""

## "\nDELETE FROM paskaitos\nWHERE destytojas = 'Domantas'\n"

print(delete_teacher)

In [ ]:
with conn:
    c.execute(delete_teacher)

In [ ]:
with conn:
    c.execute("SELECT * FROM paskaitos LIMIT 10")
    print(c.fetchall())

---

# JŪSŲ PRAKTIKA :)
KAS NORI PASIPRAKTIKUOTI ?

In [15]:
import sqlite3
conn = sqlite3.connect("DB2")
c = conn.cursor()

class Paskaita:
    def __init__(self, pavadinimas, destytojas, trukme):
        self.vardas = pavadinimas
        self.pavarde = destytojas
        self.atlyginimas = trukme

vadyba = Paskaita('Vadyba', 'Domantas', 40)
python = Paskaita('Python', 'Donatas', 80)
java = Paskaita('Java', 'Tomas', 80)

In [16]:
with conn:
    c.execute("""CREATE TABLE paskaitos (
            pavadinimas text,
            destytojas text,
            trukme integer
            )"""
)

OperationalError: table paskaitos already exists

In [ ]:
with conn:
    c.execute(f"INSERT INTO paskaitos VALUES ('{vadyba.pavadinimas}', '{vadyba.destytojas}', {vadyba.trukme})")
    c.execute(f"INSERT INTO paskaitos VALUES ('{python.pavadinimas}', '{python.destytojas}', {python.trukme})")
    c.execute(f"INSERT INTO paskaitos VALUES ('{java.pavadinimas}', '{java.destytojas}', {java.trukme})")

with conn:
    c.execute("SELECT * From paskaitos Where trukme > 50")
    print(c.fetchall())

with conn:
    c.execute("UPDATE paskaitos SET pavadinimas='Python programavimas' WHERE pavadinimas='Python'")

with conn:
    c.execute("DELETE from paskaitos WHERE destytojas='Tomas'")

with conn:
    c.execute("SELECT * From paskaitos")
    print(c.fetchall())