# Įvadas / apšilimas

In [1]:
pirmas = input()  # char

25

In [2]:
type(pirmas)

str

In [3]:
type(int(pirmas))

int

In [4]:
antras = int(input())

25

In [5]:
type(antras)

int

In [10]:
trečias = []

In [11]:
type(trečias)

list

In [13]:
if type(pirmas) == str:
    print('tai yra tekstas')
elif type(antras) == int:
    print('tai yra skaičius')
else:
    print('visa kita', type(trečias))

visa kita <class 'list'>

In [15]:
# vien tik `if`
if type(pirmas) == str:
    print('tai yra tekstas')
if type(antras) == int:
    print('tai yra skaičius')
else:
    print('visa kita', type(trečias))

visa kita <class 'list'>

In [16]:
pirmas_skaicius = float(pirmas)

In [17]:
print(type(pirmas_skaicius))

<class 'float'>

In [18]:
if (type(pirmas_skaicius) == float ) or (type(pirmas_skaicius) == int):
    print('tai float skaicius')
else:
    print('else:')
    print(type(pirmas_skaicius))

tai float skaicius

In [19]:
type(pirmas_skaicius)

float

In [20]:
if ( type(pirmas) == float ) or ( type(pirmas) == int ):
    print(type(pirmas))
else:
    print('Duok skaičių!')

Duok skaičių!

# Funkcijos : 5-1

```
Užduotis 1
Sukurti ir paleisti funkcijas, kurios:
• Sudėtų ir atspausdintų visus paduotus skaičius
• Atspausdintų didžiausią iš kelių paduotų skaičių
• Išrikiuotų paduoto stringo žodžius nuo paskutinio iki pirmojo
• Patikrintų ir atspausdintų, ar paduotas skaičius yra paduotame sąraše
• Atspausdintų, kiek paduotame stringe yra žodžių, skaičių, didžiųjų ir
mažųjų raidžių
• Atspausdintų visus paduoto rėžio (nuo… iki) lyginius skaičius
```

In [31]:
# title: Funkcija 5-1-1
# version: 2021-10-20T1346 AU

def skaiciu_suma(*ivestu_skaiciu_masyvas):
    '''
    Funkcija sudeda ir atspausdina visus paduotus skaičius
    :param args: neribotas įvestų skaičių kiekis
    :return: paduotų skaičių suma
    '''
    suma = 0
    for ivestas_skaicius in ivestu_skaiciu_masyvas:
        suma += ivestas_skaicius
    # print(suma) # QC: OK
    return(suma)

In [32]:
skaiciu_suma(2021, 10, 20)

2051

In [33]:
print(skaiciu_suma(2021, 10, 20))

2051

In [34]:
mano_suma = skaiciu_suma(2021, 10, 20)

In [35]:
print(mano_suma)

2051

In [36]:
skaiciu_suma(2, 6, 4, 78, 1, 454, 30, 68)

643

In [47]:
# title: Funkcija 5-1-2
# version: 2021-10-20T1348 AU

def mano_didziausias(*ivestu_skaiciu_sarasas):
    '''
    Funkcija atspausdina didžiausią iš kelių paduotų skaičių
    :param ivestu_skaiciu_sarasas: įvestų skaičių sąrašas
    :return: didžiausias skaičius
    '''
    didziausias = 0
        # print(ivestas_skaicius) # QC: OK
    for ivestas_skaicius in ivestu_skaiciu_sarasas:
        if ivestas_skaicius > didziausias:
            didziausias = ivestas_skaicius
            print('radau naują didžiausią')
    return(didziausias)

In [48]:
mano_didziausias(0, 1, 2, 10, 3, 11, 45, 1)

radau naują didžiausią
radau naują didžiausią
radau naują didžiausią
radau naują didžiausią
radau naują didžiausią

45